<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Site</title>
  <link rel="stylesheet" href="/css/allViews.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
  <script type="text/javascript" src="crypto-js.js"></script>
  <script>
    function showRVSizeInput() {
      var type = document.getElementById("type");
      var maxSizeInput = document.getElementById("maxSizeInput");
      if (type.value === "RVParking" || type.value === "DryCamping") {
        maxSizeInput.style.display = "";
      } else {
        maxSizeInput.style.display = "none";
        document.getElementById("maxSize").value = "";
        document.getElementById("maxSizeError").textContent = "";
      }
    }

    function prepareSubmit() {
      var type = document.getElementById("type").value;
      var maxSize = document.getElementById("maxSize");
      // Clear maxSize if Tenting or Storage is selected
      if (type === "Tenting" || type === "Storage") {
        maxSize.value = '';
      }
      var isValid = true;

      // Validate RV Size
      var maxSize = document.getElementById("maxSize").value;
      var maxSizeError = document.getElementById("maxSizeError");
      if (!isValidRVSize(maxSize) && (type === "DryCamping" || type === "RVParking")) {
        maxSizeError.textContent = "Please enter a valid RV Max Size (Integer or decimal).";
        isValid = false;
      } else {
        maxSizeError.textContent = "";
      }

      // Validate Price Per Night
      var pricePerNight = document.getElementById("pricePerNight").value;
      var priceError = document.getElementById("priceError");
      if (!isValidPrice(pricePerNight)) {
        priceError.textContent = "Please enter a valid price per night (Integer only).";
        isValid = false;
      } else {
        priceError.textContent = "";
      }

      return isValid;
    }

    function isValidRVSize(rvSize) {
      // Allow digits or decimal
      return /^\d+(\.\d+)?$/.test(rvSize);
    }

    function isValidPrice(price) {
      // Allow digits only
      return /^\d+$/.test(price);
    }

    function goBack() {
      window.history.back();
    }

    // Function to handle page load
    function onPageLoad() {
      // Reset the page based on the selected type
      var type = document.getElementById("type").value;
      if (type === "Tenting" || type === "Storage") {
        // If the type is "Tenting", hide the RV size input and clear its value and error message
        document.getElementById("maxSizeInput").style.display = "none";
        document.getElementById("maxSize").value = "";
        document.getElementById("maxSizeError").textContent = "";
      }
    }
  </script>

</head>

<body onload="onPageLoad()">
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <!-- Back button -->
          <button class="back-button" onclick="goBack()">
            < Back</button>
              <div class="text-center">
                <h3 class="text-primary">Edit Site</h3>
              </div>
              <form method="post" onsubmit="return prepareSubmit()">
                <div class="p-4">
                  <p>Editing Site_ID: <%= site[0].site_id %>
                  </p>
                  <div id="siteNumberInput" class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-hash text-white"></i></span>
                    <input type="text" class="form-control" id="siteNumber" name="siteNumber" placeholder="Site Number"
                      value="<%= site[0].site_number %>">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-p-circle-fill text-white"></i></span>
                    <select class="form-select" id="type" name="type" onchange="showRVSizeInput()">
                      <option value="RVParking" <% if (site[0].reservation_type==='RVParking' ) { %>selected <% } %>>RV
                          Parking</option>
                      <option value="Tenting" <% if (site[0].reservation_type==='Tenting' ) { %>selected <% } %>>Tenting
                      </option>
                      <option value="DryCamping" <% if (site[0].reservation_type==='DryCamping' ) { %>selected <% } %>
                          >Dry Camping</option>
                      <option value="Storage" <% if (site[0].reservation_type==='Storage' ) { %>selected <% } %>>Storage
                      </option>
                    </select>
                  </div>
                  <div id="maxSizeInput" class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-truck-front-fill text-white"></i></span>
                    <input type="text" class="form-control" id="maxSize" name="maxSize" placeholder="Max RV Size (ft)"
                      value="<%= site[0].max_size %>">
                    <p id="maxSizeError" class="text-danger" style="height:25px"></p>
                  </div>
                  <div id="priceInput" class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-currency-dollar text-white"></i></span>
                    <input type="text" class="form-control" id="pricePerNight" name="pricePerNight"
                      placeholder="Price Per Night" value="<%= site[0].price_per_night %>">
                    <p id="priceError" class="text-danger" style="height:25px"></p>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-asterisk text-white"></i></span>
                    <select class="form-select" id="siteStatus" name="siteStatus"">
                      <option value="Active" <% if (site[0].site_status==='Active' ) { %>selected <% } %>>Active
                        </option>
                        <option value="Closed" <% if (site[0].site_status==='Closed' ) { %>selected <% } %>>Closed
                        </option>
                    </select>
                  </div>
                  <input type="hidden" id="oldSiteNumber" name="oldSiteNumber" value="<%= site[0].site_number %>">
                  <div>
                    <p id="message" class="text-danger" style="height:25px"><%- locals.message %></p>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary mt-2" type="submit">Save Changes</button>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>