<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer History</title>
    <link rel="stylesheet" href="/css/allViews.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
    <style>
        .reservation-history {
            border: 3px solid darkblue;
            padding: 10px;
            margin-bottom: 10px;
            line-height: 0.7;
        }
    </style>

    <script>
        function goBack() {
            window.history.back(); // Navigate back
        }
    </script>
</head>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
                    <!-- Back button -->
                    <button class="back-button" onclick="goBack()">
                        < Back</button>
                            <div class="text-center">
                                <h3 class="text-dark">Reservation History</h3>
                            </div>
                            <% if (result.length> 0 ) { %>
                                <% result.forEach(function(reservation) { %>
                                    <div class="reservation-history">
                                        <div class="reservation-item">
                                            <p>Reservation ID: <%= reservation.reservation_id %>
                                            </p>
                                            <p>Type of Reservation: <%= reservation.reservation_type %>
                                            </p>
                                            <% if (reservation.reservation_type !=='Tenting' &&
                                                reservation.reservation_type !=='Storage' ) { %>
                                                <p>Size of RV: <%= reservation.rv_size %> ft</p>
                                                <% } %>
                                                    <p>Site in the RV Park: <%= reservation.site_number %>
                                                    </p>
                                                    <p>Date Reservation was made: <%= reservation.reservation_date %>
                                                    </p>
                                                    <p>Length of Reservation: <%= reservation.from_date.toDateString()
                                                            %> - <%= reservation.to_date.toDateString() %>
                                                    </p>
                                                    <p>Status of Reservation: <%= reservation.status %>
                                                    </p>
                                        </div>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p>There are no active reservations in the system</p>
                                            <% } %>

                </div>
            </div>
</body>

</html>