<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve</title>
    <link rel="stylesheet" href="/css/allViews.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
    <style>
        .reservations {
            border: 3px solid darkblue;
            padding: 10px;
            margin-bottom: 10px;
            line-height: 0.7;
        }
    </style>
    <script>
        function goBack() {
            window.history.back(); // Navigate back
        }
    </script>
</head>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        
                <div class="" style="margin-top:100px">
                    <div class="rounded d-flex justify-content-center">
                        <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
                            <button class="back-button" onclick="goBack()">
            <                    Back</button>
                            <div class="text-center">
                                <h3 class="text-dark">Make A Reservation</h3>
                            </div>
                            <% function formatDate(dateString) {
                                // Convert the date string to a JavaScript Date object
                                const date = new Date(dateString);
                            
                                // Define months array
                                const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                            
                                // Get the month, day, and year
                                const month = months[date.getMonth()];
                                const day = date.getDate() + 1; // Add 1 to the day value
                                const year = date.getFullYear();
                            
                                // Add the suffix to the day
                                let daySuffix;
                                switch (day) {
                                    case 1:
                                    case 21:
                                    case 31:
                                        daySuffix = 'st';
                                        break;
                                    case 2:
                                    case 22:
                                        daySuffix = 'nd';
                                        break;
                                    case 3:
                                    case 23:
                                        daySuffix = 'rd';
                                        break;
                                    default:
                                        daySuffix = 'th';
                                }
                            
                                // Return the formatted date string
                                return month + ' ' + day + daySuffix + ', ' + year; 
                            } %>
                            <% if (siteReservations.length> 0) { %>
                                <% siteReservations.forEach(function(site) { %>
                                        <div class="reservations">
                                            <p>Site Number: <%= site.site_number %>
                                            </p>
                                            <p>Type of Stay: <%= site.reservation_type %>
                                            </p>
                                            <% if (site.reservation_type !=='Tenting' && site.reservation_type
                                                !=='Storage' ) { %>
                                                <p>Max Size of RV: <%= site.max_size %> ft</p>
                                            <% } %>
                                            <p>Price Per Night: $<%= Number(site.price_per_night).toFixed(2) %></p>
                                            <p>Length Of Stay: <%= formatDate(fromDate) %> - <%=
                                                formatDate(toDate) %>
                                             </p>
                                        
                                        <form method="post">
                                            <input type="hidden" name="site_id"
                                                value="<%= site.site_id %>" id="site_id">
                                            <input type="hidden" name="reservation_type"
                                                value="<%= reservationType %>" id="reservation_type">
                                            <input type="hidden" name="size"
                                                value="<%= size %>" id="size">
                                             <input type="hidden" name="pricePerNight"
                                                value="<%= site.price_per_night %>" id="pricePerNight">
                                            <input type="hidden" name="fromDate"
                                                value="<%= fromDate %>" id="fromDate">
                                            <input type="hidden" name="toDate"
                                                value="<%= toDate %>" id="toDate">
                                                <button class="btn btn-primary btn-sm mt-3" type="submit">Make
                                                    Reservation</button>
                                        </form>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p>There are no sites available for reservations</p>
                                            <% } %>
                        </div>
                    </div>
                </div>
    </div>
</body>

</html>